* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'RobotoMono'; */
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    height: 100%;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #e9e9e9;
}