* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'RobotoMono'; */
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    height: 100%;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex !important;
    flex-direction: row;
    height: 100%;
     /* tela fixa */
}

@media screen and (max-width: 800px ){
    .header-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100px;
        transition: linear 0.1s;
    }

    .header-logo, .header-navbar  {
        width: 100%;
        height: 50px;
        line-height: 50px;
        transition: linear 0.1s;
    }

    /* .header-navbar {
        width: 100%;
        height: 50px;
        line-height: 50px;
    } */

    main {
        display: flex !important;
        flex-direction: row;
        height: 100%;
         /* tela fixa */
    }

    .sidebar-main {
        margin-left: -300px;
        transition: linear 0.9s;
    }

    .sidebar-margin-left-0 {
        margin-left: 0;
    }

    .content-wrapper {
        width: 100%;
    }

    .content-wrapper-width-calc {
        width: calc(100% - 300px);
        transition: linear 0.9s;
    }
}


@media screen and (max-width: 650px ) {
    .footer-main { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-main-none {
        display: none;
    }

}