
/* Box */
.box {
    width: 100%;
    background-color: #FFF;
    border-radius: 5px;
}

.box-header, .box-footer {
    height: 41px;
    width: 100%;
}

.box-header {
    border-bottom: solid 1px #CCC;
}

.box-title {
    display: inline-block;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

.box-body {
    padding: 10px;
}

.box-footer {
    border-top: solid 1px #CCC;
    padding: 0px 10px;
    box-sizing: border-box;
}

.box-group-field {
    margin-bottom: 15px;
}

.box-group-field label, input {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.box-group-field label {
    margin-bottom: 10px;
}

.box-group-field input {
    font-size: 18px;
    font-family: inherit;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.box-group-field input:focus {
    outline: 1px solid transparent;
    box-shadow: 0 0 1pt 1pt #00a6fb;
  }